.main_container{
  background-color: white;
}
.main_ad{
  background-color: red;
}
.features{
  background-color: blue;
}
.sub_feature{
  background-color: black;
}
.How_it_works{
  background-color: brown;
}